.error {
  display: flex;
  align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 200;
  color: #721c24;
  background-color: #f5c6cb;
  border: 1px solid #f5c6cb;
  padding: 2rem;
}